.popular-movies {
  position: relative;

  &-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    width: 100%;
  }

  .popular-movies-infos {
    background-color: #3f3e3e;
    color: #9f9f9f;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 3rem;
    z-index: 1;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: calc(100% - 4rem);
      margin: 0 auto 2rem auto;
      top: 1rem;

      p {
        margin: 0;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;


        &:first-of-type{
          border-bottom: 1px solid #9f9f9f;
          padding-bottom: .5rem;
        }
        &:last-of-type{
          padding-top: .5rem;
        }
      }
    }
  }

  .loading{
    width: 100%;
  }
}