.profile{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 40rem;
    width: 100%;
  }

  .field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    input{
      color: white;
      background: transparent;
      border: 0;
      border-bottom: 1px solid rgb(199, 199, 199);
      padding: 0.5rem 0;
      font-size: 1.2em;
      font-weight: 600;
      width: 100%;
      transition: all 0.2s ease-in;

      &:focus{
        outline: 0;
        border-bottom: 1px solid white;
      }

      &:focus + label,
      &:valid + label{
        top: -1rem;
        font-size: 0.8em;
        color: green;
      }

      &:focus + label{
        color: white;
      }
    }
  }

  button{
    width: fit-content;
  }
}